<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="connection" connectionString="SERVER=localhost; DATABASE=six; UID=root;          PASSWORD=Yui48627931."
      providerName="System.Data.MySqlClient" />
    <add name="Proyecto_Tecate.Properties.Settings.tecate_sixConnectionString"
      connectionString="server=LocalHost;user id=root;password=Yui48627931.;persistsecurityinfo=True;database=tecate_six"
      providerName="MySql.Data.MySqlClient" />
    <add name="Proyecto_Tecate.Properties.Settings.sixConnectionString"
      connectionString="server=LocalHost;user id=root;password=Yui48627931.;persistsecurityinfo=True;database=six"
      providerName="MySql.Data.MySqlClient" />
    <add name="Proyecto_Tecate.Properties.Settings.ConnectionString"
      connectionString="Dsn=conex datasuce;uid=root" providerName="System.Data.Odbc" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.16.0" newVersion="8.0.16.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>